@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


.book-see {
  /* margin-top: 25px; */
  text-align: center;
  background-color: rgb(111, 111, 111);
  color: #ffffff;
  font-weight: 500;
  height: auto;
  padding: 8px;
  font-size: 14px;
  /* width: 160px; */
  border: 1px solid #dee2e6!important;
  border-radius: 20px;
}
.book-see:hover {
  transition: 0.3s ease;
  transform: scale(1.05);
  color: #f0f0f0;
}
.book-see.book-blue {
  color: #a4e0eb;
}
.book-see.book-blue:hover {
  color: #22cdec;
}
